@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Yanone+Kaffeesatz:wght@200..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  font-family: "Yanone Kaffeesatz", sans-serif;
    letter-spacing: 2px;
}

.container-main{
    width: 100%;
    min-height: 500px;
    /* margin: auto; */
    /* background-color: #8f8c8c; */
    color: #333;
    line-height: 1.6;
    position: relative;
}

.header{
    width: 100%;
    min-height: 70px;
    background-color: #0C3C60;
    color: white;
    position: sticky;
    top: 0;
    z-index: 1;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-areas: "header-logo header-menu";
    /* align-items: center; */
}

.header .logo{
    width: 100%;
    min-height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.header .logo h2{
    font-size: 2.5vw;
    /* margin-left: 50px; */
    display: flex;
    justify-content: center;
    align-items: center;

}

.logo a:hover{
    text-decoration: none;
    color: white;
}
.logo a{
    text-decoration: none;
    color: white;
}

.logo span{
    color: orangered;
    font-size: 3vw;
}

.header .menu{
    width: 100%;
    min-height: 50px;
    display: grid;
    grid-area: header-menu;
    /* background-color: #333; */
    /* float: right; */
    /* justify-content: right; */
}

.menu ul{
    /* padding-right: 40px; */
    /* justify-content: right; */
    display: flex;
    justify-content: flex-end;
}
.menu ul, li{
    list-style: none;
    display: inline-block;
    color: white;
    margin: auto;
    margin-top: 10px;
    display: flex;
    gap: 20px;
    /* padding-left: 20px; */
}

.menu ul li a{
    font-size: 1.5vw;
    text-decoration: none;
    color: white;
    border-radius: 10px;
}

.menu a:hover{
    color: orangered;
    border-color: orangered;
    border-radius: 10px;
    transition: 0.3s ease-in-out, border 0.3s ease-in-out;
}


.menu .login{
    border: none;
    /* background-color: #0C3C60; */
    padding: 8px;
    border-radius: 15px;
}

.menu span{
    transition: 0.3s ease-in-out, color 0.3s ease-in-out;
}

.menu li:last-child a {
    border: none;
}

.menu li:last-child a:hover {
    border: none;
}

.section1{
    width: 100%;
    min-height: 400px;
    padding: 40px 80px;
    background-color: #f4f4f4;
}

.section1 h1{
    text-align: center;
    margin-bottom: 40px;
    font-size: 3vw;
    color: #072136;
}

.about-section{
    width: 100%;
    min-height: 400px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.about-section .info{
    width: 50%;
    font-size: 1.5vw;
    color: #072136;
    line-height: 1.8;
    display: flex;
    text-align: justify;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.about-section .img{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-section .img img{
    width: 90%;
    height: 530px;
    border-radius: 10px;
    filter:blur(3px);
}

.section2{
    width: 100%;
    min-height: 1600px;
    background-color: #0c3c60f2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    padding-top: 80px;
}

.section2 h1{
    font-size: 3vw;
    margin-bottom: 20px;
}

.section2 p{
    font-size: 1.5vw;
    /* width: 60%; */
    line-height: 1.8;
}

.team-members{
    width: 100%;
    min-height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-top: 20px;
    text-align: justify;
}

.member1, .member2{
    width: 35%;
    min-height: 350px;
    background-color: #f4f4f4;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.member1 img, .member2 img{
    width: 80%;
    height: 250px;
    border-radius: 10px;
    margin-bottom: 20px;
    filter:blur(3px);
}

.member1 h3, .member2 h3{
    font-size: 2vw;
    margin-bottom: 10px;
    color: #072136;
}

.member1 p, .member2 p{
    font-size: 1.2vw;
    color: #333;
    /* text-align: justify; */
}

.member3, .member4{
    width: 35%;
    min-height: 350px;
    background-color: #f4f4f4;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-top: 50px;
}

.member3 img, .member4 img{
    width: 80%;
    height: 250px;
    border-radius: 10px;
    margin-bottom: 20px;
    filter:blur(3px);
}

.member3 h3, .member4 h3{
    font-size: 2vw;
    margin-bottom: 10px;
    color: #072136;
}

.member3 p, .member4 p{
    font-size: 1.2vw;
    color: #333;
    /* text-align: justify; */
}

.btn-1{
    display: flex; 
    justify-content: center;
}

.btn-1 button{
    font-size: 18px;
    margin-top: 45px;
    padding: 10px 0 10px 0;
    border:1px solid gray;
    border-radius: 20px;
    background-color: white;
    border: none;
}

.btn-1 a{
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    /* border: 1px solid #0c3c60; */
    padding: 20px 25px 20px 25px;
    color: #0C3C60;
}

.btn-1 button:hover{
    /* background-color: orangered; */
    color: white;
}
.btn-1 a:hover{
    background-color: orangered;
    color: white;
    border-radius: 15px;
    text-decoration: none;
}
.btn-1 a{
    transition: 0.3s ease-in-out, color 0.3s ease-in-out;
}


.section7
{
    width: 100%;
    min-height: 500px;
    /* background-color: rgb(134, 106, 106); */
    /* margin-bottom: 80px; */
    /* padding-top: 50px; */
    text-align: center;
    display: flex;
    flex-direction: column;
}

.contact{
    width: 100%;
    min-height: 40px;
    background-color: #0C3C60;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    /* justify-content: space-evenly; */
    /* align-items: center; */
}

.contact h1{
    color: white;
    /* font-size: 30px; */
    font-weight: 400;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
    margin-bottom: 30px;

}

.contact  .c-name{
    width: 80%;
    /* margin: auto; */
    color: white;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* margin-bottom: 10px; */
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
}


.contact form .c-field{
    width: 80%;
    margin: auto;
    background-color: #0C3C60;
    /* font-size: 18px; */
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.c-field input[type="text"]{
    width: 45%;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: #0C3C60;   /* Change default background */
    border-bottom: 1px solid white; /* Add bottom border only */
    /* padding: 10px; */
}

.c-field input[type="text"]{
    color: white; /* Change placeholder text color */
}

.service{
    width: 100%;
    min-height: 200px;
    background-color: #0C3C60;
    margin-top: 20px;
}

.dropdown button{
    width: 75%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: #0C3C60;   /* Change default background */
    border-bottom: 1px solid white; /* Add bottom border only */
    color: white; /* Change placeholder text color */
}

.dropdown-menu{
    width: 75%;
    margin: auto;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: #0C3C60;   /* Change default background */
    border-bottom: 1px solid white; /* Add bottom border only */
    color: white; /* Change placeholder text color */
}

.dropdown:hover{
    background-color: none;
}
.contact .c-btn{
    width: 80%;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 40px;
    margin-right: 13%;
}
.c-btn button{
    width: 30%;
    padding: 10px;
    float: right;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: white;  
    color: white; 
    font-size: 18px;
    margin-bottom: 50px;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.c-btn button a{
    width: 100%;
    text-decoration: none;
    color: #0C3C60;
}


.c-btn button:hover{
    background-color: #ff4500;
    color: white;
    cursor: pointer;
}



.footer{
    width: 100%;
    min-height: 200px;
    background-color: #072136;
    justify-content: space-around;
    color: white;
    padding: 20px 20px;
}

.footer-contain{
    width: 90%;
    min-height: 150px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.footer-addr
{
    width: 30%;
    min-height: 150px;
    /* background-color: red; */
}

.footer-menu{
    width: 30%;
    min-height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-menu ul li a{
    color: white;
    text-decoration: none;
}
.footer-menu ul li a:hover{
    color: orangered;
    text-decoration: none;
    transition: 0.3s ease-in-out, color 0.3s ease-in-out;
}

.footer-content{
    width: 30%;
    min-height: 150px;
}

.social-icons{
    width: 100%;
    min-height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.social{
    display: flex;
    /* justify-content: center; */
    gap: 14px;
    margin-bottom: 25px;
}

.social .icon a{
    text-decoration: none;
}

.icon {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #1e293b;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 20px;
    transition: all 0.3s ease;
    text-decoration: none;
}

.icon:hover{
    text-decoration: none;
}

/* Brand Colors */
.facebook:hover {
    color: white;
    background-color: #1877f2;
    box-shadow: 0 0 12px #1877f2;
}

.twitter:hover {
    color: white;
    background-color: #1da1f2;
    box-shadow: 0 0 12px #1da1f2;
}

.instagram:hover {
    background: radial-gradient(circle at 30% 30%, #feda75, #d62976, #962fbf);
    box-shadow: 0 0 12px #d62976;
    color: white;
}

.linkedin:hover {
    color: white;
    background-color: #0a66c2;
    box-shadow: 0 0 12px #0a66c2;
}

.github:hover {
    /* background-color: white; */
    color: white;
    box-shadow: 0 0 12px #333;
}

.icon:hover {
    transform: scale(1.15);
}

.footer-copy {
    font-size: 14px;
    color: #cbd5e1;
}


.map iframe{
    width: 100%;
    height: 220px;
    /* margin-top:20px ; */
    /* margin-bottom: 40px; */
}

.copyright{
    width: 100%;
    min-height: 40px;
    background-color: #072136;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

