@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  font-family: "Yanone Kaffeesatz", sans-serif;
    letter-spacing: 2px;
}


.header{
    width: 100%;
    min-height: 70px;
    background-color: #0C3C60;
    color: white;
    position: sticky;
    top: 0;
    z-index: 1;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-areas: "header-logo header-menu";
    /* align-items: center; */
}

.header .logo{
    width: 100%;
    min-height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.header .logo h2{
    font-size: 2.5vw;
    /* margin-left: 50px; */
    display: flex;
    justify-content: center;
    align-items: center;

}

.logo a:hover{
    text-decoration: none;
    color: white;
}
.logo a{
    text-decoration: none;
    color: white;
}

.logo span{
    color: orangered;
    width: 100%;
    font-size: 3vw;
}

.header .menu{
    width: 100%;
    min-height: 50px;
    display: grid;
    grid-area: header-menu;
    /* background-color: #333; */
    /* float: right; */
    /* justify-content: right; */
}

.menu ul{
    /* padding-right: 40px; */
    /* justify-content: right; */
    display: flex;
    justify-content: flex-end;
}
.menu ul, li{
    list-style: none;
    display: inline-block;
    color: white;
    margin: auto;
    margin-top: 10px;
    display: flex;
    gap: 20px;
    /* padding-left: 20px; */
}

.menu ul li a{
    font-size: 1.5vw;
    text-decoration: none;
    color: white;
    border-radius: 10px;
}

.menu a:hover{
    color: orangered;
    border-color: orangered;
    border-radius: 10px;
    transition: 0.3s ease-in-out, border 0.3s ease-in-out;
}


.menu-toggle {
  display: none;
  font-size: 24px;
  color: #fff;
  cursor: pointer;
}


/* h1 {
    font-weight: bold;
    margin: 0;
} */

/* h2 {
    text-align: center;
} */
/* 
p {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 20px 0 30px;
} */

/* span {
    font-size: 12px;
} */

/* a {
    color: #333;
    font-size: 14px;
    text-decoration: none;
    margin: 15px 0;
} */

button {
    border-radius: 20px;
  border: none;
    background-color: #3F2EFF;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
}

button:active {
    transform: scale(0.95);
}

button:focus {
    outline: none;
}

button.ghost {
    background-color: transparent;
      border: 1px solid #FFFFFF;   

    transition: 0.5s;
}

button.ghost:hover {
    background-color: #FFFFFF;
    color: #0E1119;
    cursor: pointer;
}

form {
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    text-align: center;
}

input {
    background-color: #eee;
    border: none;
    border-radius: 10px;
    padding: 12px 15px;
    margin: 10px 20px;
    width: 100%;
}

input[type="text"], input[type="email"], input[type="password"] {
    margin-bottom: 5px !important;

}

.container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
        0 10px 10px rgba(0, 0, 0, 0.22);
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 700px;
    min-height: 400px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.log-in-container {
    left: 0;
    width: 50%;
    /* z-index: 2; */
}

.container.right-panel-active .log-in-container {
    transform: translateX(100%);
    opacity: 0;
    pointer-events: none;
}


.sign-up-container {
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
    pointer-events: none;
}


.container.right-panel-active .sign-up-container {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: show 0.6s;
    pointer-events: auto;

}

@keyframes show {

    0%,
    49.99% {
        opacity: 0;
        z-index: 1;
    }

    50%,
    100% {
        opacity: 1;
        z-index: 5;
    }
}

.overlay-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    /* z-index: 100; */
}

.container.right-panel-active .overlay-container {
    transform: translateX(-100%);
}

.overlay {
    background: #FF416C;
    background: linear-gradient(142.18deg, #3793FF 0%, #FE368A 98.85%);


    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    color: #FFFFFF;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.container.right-panel-active .overlay {
    transform: translateX(50%);
}

.overlay-panel {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    top: 0;
    height: 100%;
    width: 50%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.overlay-left {
    transform: translateX(-20%);
}

.container.right-panel-active .overlay-left {
    transform: translateX(0);
}

.overlay-right {
    right: 0;
    transform: translateX(0);
}

.container.right-panel-active .overlay-right {
    transform: translateX(20%);
}

.social-container {
    margin: 5px 0;
}

.social-container a {
    border: 1px solid #DDDDDD;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    height: 40px;
    width: 40px;
    /* margin-top: 50px; */
    text-decoration: none;
}

.social-container a:hover {
    border-color: orangered;
    text-decoration: none;
    transition: 0.3s ease-in-out, border 0.3s ease-in-out;
}


.footer{
    width: 100%;
    min-height: 200px;
    background-color: #072136;
    justify-content: space-around;
    color: white;
    padding: 20px 20px;
}

.footer-contain{
    width: 90%;
    min-height: 150px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.footer-addr
{
    width: 30%;
    min-height: 150px;
    /* background-color: red; */
}

.footer-menu{
    width: 30%;
    min-height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-menu ul li a{
    color: white;
    text-decoration: none;
}
.footer-menu ul li a:hover{
    color: orangered;
    text-decoration: none;
    transition: 0.3s ease-in-out, color 0.3s ease-in-out;
}


.footer-content{
    width: 30%;
    min-height: 150px;
}

h3{
    width: 100%;
}

.social-icons{
    width: 100%;
    min-height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.social{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 25px;
}

.social .icon a{
    text-decoration: none;
}

.icon {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #1e293b;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 20px;
    transition: all 0.3s ease;
    text-decoration: none;
}

.icon:hover{
    text-decoration: none;
}

/* Brand Colors */
.facebook:hover {
    color: white;
    background-color: #1877f2;
    box-shadow: 0 0 12px #1877f2;
}

.twitter:hover {
    color: white;
    background-color: #1da1f2;
    box-shadow: 0 0 12px #1da1f2;
}

.instagram:hover {
    background: radial-gradient(circle at 30% 30%, #feda75, #d62976, #962fbf);
    box-shadow: 0 0 12px #d62976;
    color: white;
}

.linkedin:hover {
    color: white;
    background-color: #0a66c2;
    box-shadow: 0 0 12px #0a66c2;
}

.github:hover {
    /* background-color: white; */
    color: white;
    box-shadow: 0 0 12px #333;
}

.icon:hover {
    transform: scale(1.15);
}


.footer-copy {
    font-size: 14px;
    color: #cbd5e1;
}


.map iframe{
    width: 100%;
    height: 220px;
    /* margin-top:20px ; */
    /* margin-bottom: 40px; */
}

.copyright{
    width: 100%;
    min-height: 40px;
    background-color: #072136;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

@media screen and (max-width: 768px) {
     /* HEADER */
  .header {
    grid-template-columns: 1fr;
    text-align: center;
    /* height: auto; */
    /* width: 100%; */
    /* background-color: #0C3C60; */
  }

  .header .logo h2 {
    font-size: 22px;
  }

  .header .logo span{
    font-size: 28px;
  }

  .menu {
    display: none;
    width: 100%;
    height: 70px;
    position: absolute;
    top: 70px;
    /* left: 0; */
    /* background-color: #0C3C60; */
  }
  .menu ul {
    display: none;
    flex-direction: row;
    width: 100%;
    /* margin: 10px; */
    padding: 5px;
    /* background-color: #0C3C60; */
  }

  /* .menu ul li {
    background-color: white;
  } */

  .menu ul li a {
    padding: 5px;
    border: 1px solid #072136;
    background-color: white;
    border-radius: 10px;
  }

  .menu ul li a:hover{    
    border-radius: 10px;
    transition: 0.3s ease-in-out, background-color 0.3s ease-in-out;
  }

  .menu ul li a {
    font-size: 16px;
    color: #072136;
  }

  .menu-toggle {
    display: block;
    position: relative;
    top: 10px;
    right: 10px;
  }

  .menu.active ul{
    display: flex;
    /* right: 50px; */
    position: absolute;
    text-align: start;
  }

    .footer-contain{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

}