.table1,
.table1 tr, .table1 th, .table1 td{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px 40px;
    margin: auto;
    text-align: center;
}

.table2,
.table2 tr, .table2 th, .table2 td{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px 40px;
    margin: auto;
    text-align: center;
}

.table3,
.table3 tr, .table3 th, .table3 td{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px 20px;
    margin: auto;
    text-align: center;
}

.table4-1,
.table4-1 tr, .table4-1 th, .table4-1 td{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px 50px;
    margin: auto;
    margin-top: 10px;
    text-align: center;
}

.table4-1 input{
    padding: 5px 50px;
    margin: auto;
    border: none;
}

.table4-2,
.table4-2 tr, .table4-2 th, .table4-2 td{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px 53px;
    margin: auto;
    margin-top: 10px;
    text-align: center;
}

.table5,
.table5 tr, th, td{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px 50px;
    margin: auto;
    margin-top: 10px;
    text-align: center;
}

.table6{
    border: 1px solid #000;
    margin: auto;
    padding: 20px;
}

.table7{
    border: 1px solid #000;
    border-collapse: collapse;
    margin: auto;
}

.table7 th, td{
    padding: 8px;
    border: 1px solid #000;
    text-align: center;
}

.table7 th{
    background-color: rgb(251, 104, 165);
}

.table7 tr:nth-child(odd){
    background-color: rgb(170, 255, 170);
    color: rgb(71, 70, 70);
}
.table7 tr:nth-child(even){
    background-color: rgb(255, 199, 177);
    color: black;
}

.table8{
    border: 1px solid #000;
    border-collapse: collapse;
    margin: auto;
}

.table9{
    border: 1px solid #000;
    border-collapse: collapse;
    margin: auto;
}

.table10{
    border: 1px solid #000;
    border-collapse: collapse;
    margin: auto;    
}

.table11{
    border: 1px solid #000;
    border-collapse: collapse;
    margin: auto;     
}

.table12{
    border: 1px solid #000;
    border-collapse: collapse;
    margin: auto;     
}

.table13{
    border: 1px solid #000;
    border-collapse: collapse;
    margin: auto;     
}

.table14{
    border: 1px solid #000;
    border-collapse: collapse;
    margin: auto;     
}

.table15{
    border: 1px solid #000;
    border-collapse: collapse;
    margin: auto;     
}

.table16{
    border: 1px solid #000;
    border-collapse: collapse;
    margin: auto;     
}

.table17{
    border: 1px solid #000;
    border-collapse: collapse;
    margin: auto;     
}

.table18{
    border: 1px solid #000;
    border-collapse: collapse;
    margin: auto;     
}

.table19{
    border: 1px solid #000;
    border-collapse: collapse;
    margin: auto;     
}

.table20{
    border: 1px solid #000;
    border-collapse: collapse;
    margin: auto;     
}

