*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.Container{
    width: 100%;
    min-height: 600px;
    background: linear-gradient(to right bottom, rgb(95, 197, 228), rgb(136, 43, 202));
    margin: auto;
    padding: 70px 0 0 430px;
}

.box{
    width: 45%;
    min-height:100px;
    background-color:white;
}

.box .cross{
    text-align: right;
    font-size: 25px;
    margin: 10px 20px 0 0;
    cursor: pointer;
}

.box h1 {
    text-align: center;
    margin: 30px;
    padding-top: 30px;
}

.box table{
    width: 100%;
    min-height: 40px;
    /* background-color: rgb(101, 63, 137); */
    text-align: left;
    padding-left: 25px;
}

.box table tr{
    width: 100%;
    /* background-color: rgb(75, 131, 112); */
}

.box input{
    border: 1px solid lightgray;
    width: 95%;
    min-height:35px;
    margin-bottom: 15px;
}

.forgot{
    text-decoration: none;
}

.box .btn{
    width: 90%;
    margin: 20px;
    padding: 10px;
    background: linear-gradient(to right, rgb(95, 197, 228), rgb(136, 43, 202));;
    border: none;
    color: white;
}

.btn a{
    text-decoration: none;
    font-size: 18px;
    color: white;
}

.signup{
    text-align: center;
    /* margin: 10px 10px 10px 10px; */
    padding: 10px 10px 20px 10px;
}

.sign{
    text-decoration: none;
}