*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 80%;
    min-height: 500px;
    margin: auto;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.box{
    width: 60%;
    min-height: 500px;
    background-color:antiquewhite;
    border: 1px solid #000;
    margin: auto;
}

.box h2, p{
    text-align: center;
    padding-top: 20px;
}

.form-group table, tr{
    margin-top: 20px;
}

.form-group table, tr, td{
    width:80%;
    margin: auto;
    margin-top: 20px;
    /* background-color: bisque; */
}

.form-group input[type="radio"], [type="checkbox"]{
    margin: 0 10px 0 0;
}

.btn{
    display: inline-block;
    padding: 10px 20px;
    background-color:cornflowerblue;
    color: black;
    text-decoration: none;
    border: none;
    border-radius: 20px;
    margin: 20px 0 20px 60px;
}

.btn:hover{
    background-color: rgb(176, 53, 53);
    color: white;
}

.btn{
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
