*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width:100%;
    min-height: 300px;
    margin:auto;
    background-color:#605f5f;
    border: 1px solid #000;
}

.container .header{
    width: 100%;
    min-height: 90px;
    /* background-color: #234C6A; */
    display: inline-block;
    
}

.header .logo
{
    width: 50%;
    min-height: 90px;
    float: left;
    /* display: inline-block; */
    /* background-color: #000000; */
}

.header .logo img{
    width: 25%;
    height: 60px;
    margin: 10px 0 0 20px;
    float: left;
}
 
.header .nav{
    width: 50%;
    min-height: 90px;
    float: right;
    /* background-color: #8b39ac; */
}

.header .nav ul{
    list-style: none;
    float: left;
    margin: 20px 20px 0 0;
}

.wrapper {
  width: 100%;
  min-height: 60px;
  border: 1px solid #000;
}
.navbar {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  padding: 10px 20px;
  position: relative;
}
.menu-toggle {
  display: none;
  font-size: 24px;
  color: #fff;
  cursor: pointer;
  float: right;
}
.menu {
  list-style: none;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  color: black;
  justify-content: start;
  align-items: center;
}
.menu li {
  position: relative;
}
.menu li a {
  color: black;
  text-decoration: none;
  padding: 10px 15px;
  display: block;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
}
.menu a:hover {
  background-color: #2980b9;
}
.submenu {
  list-style: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  min-width: 160px;
  visibility: hidden;
  opacity: 0;
  transform: translateY(5px);
  -webkit-transform: translateY(5px);
  -moz-transform: translateY(5px);
  -ms-transform: translateY(5px);
  -o-transform: translateY(5px);
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  z-index: 1;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.submenu li a {
  color: #333;
  padding: 10px 15px;
  border-bottom: 1px solid #ddd;
}
.submenu li a:hover {
  background-color: #eee;
}
.dropdown:hover .submenu {
  opacity: 1;
  visibility: visible;
  transform: translateY(15px);
  -webkit-transform: translateY(15px);
  -moz-transform: translateY(15px);
  -ms-transform: translateY(15px);
  -o-transform: translateY(15px);
}

/* media query */
@media only screen and (max-width: 568px) {
  .menu-toggle {
    display: block;
  }
  .menu {
    display: none;
    flex-direction: column;
    width: 100%;
  }
  .menu.active {
    display: flex;
    text-align: start;
  }
  .menu li {
    width: 100%;
  }
  .submenu {
    position: relative;
    left: auto;
    top: auto;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    opacity: 1;
    visibility: visible;
    display: none;
  }
  .dropdown:hover .submenu {
    display: block;
  }
}

.section1
{
    width: 100%;
    min-height: 30px;
    background-color: wheat;
}

.section1 p
{
    width: 100%;
    font-size: 15px;
    margin-top: 7px;
}

.section2 {
    width: 100%;
    min-height: 450px;
    margin-top: 5px;
}

.slider
{
    width: 100%;
    min-height: 450px;
}

.slider iframe{
    width: 100%;
    height: 450px;
}

.section3{
    width:100%;
    min-height: 300px;
    /* background-color: #234C6A; */
}

.section3 .poster
{
    width:100%;
    min-height: 250px;
    /* background-color: #234C6A; */
    margin-top: 5px;
}

.poster1 img{
    width: 48%;
    min-height: 250px;
    float: left;
    margin: 15px 0 0 13px;
}

.poster2 img{
    width: 48%;
    min-height: 275px;
    /* float: left; */
    margin: 15px 0 0 13px;
}

.section4
{
    width: 100%;
    min-height: 300px;
    /* background-color: aquamarine; */
}

.section4 .about-section
{
    width: 100%;
    min-height:200px;
    text-align: center;
}

.section4 .about-paragraph
{
    width: 48%;
    min-height: 200px;
    float: left;
    margin: 15px 0 0 13px;
    font-size:16px;
    text-align: justify;
}

.section4 .about-img{
    width:48%;
    min-height:200px;
    float:left;
    margin:15px 0 0 13px;
}

.section4 .about-img img{
    width:100%;
    height:280px;
}


.section5 {
  width: 100%;
  /* background-color: rgb(247, 140, 0); */
  padding: 20px 0;
}

.gallery {
  width: 95%;
  margin: auto;
  /* background-color: #234C6A; */
  padding: 20px;
  overflow: hidden;
  border-radius: 8px;
  text-align: center;
}

.product-box {
  width: 23%;
  background-color: #ffffff;
  float: left;
  margin: 1%;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 6px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.product-box img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 5px;
}

.product-box h3 {
  font-size: 15px;
  color: #234C6A;
  margin: 10px 0 5px;
  font-family: Arial, sans-serif;
}

.product-box p {
  font-size: 14px;
  color: #333;
  margin: 2px 0;
  font-family: Arial, sans-serif;
}

.sale {
  background-color: crimson;
  color: #fff;
  font-size: 13px;
  font-weight: bold;
  padding: 3px 8px;
  border-radius: 4px;
}

.section6
{
    width: 100%;
    min-height: 150px;
    /* background-color: #234C6A; */
}

.section6 .services{
    width: 100%;
    min-height: 100px;
    text-align: center;
}

.services .facilty1
{
    width: 22%;
    height: 80px;
    background-color: #ffffff;
    float:left;
    margin:14px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 6px;
    text-align: center;
}

.facilty1 h3{
    font-size: 16px;
    color: #842452;
    margin: 15px 0 5px;

    font-family: Arial, sans-serif;
}

.section7
{
    width:100%;
    min-height: 500px;
}

.contact
{
    width: 100%;
    min-height: 300px;
    background-color: #ffeaea;
    text-align: center;
    margin:auto

}

.contact-form
{
    width: 48%;
    min-height: 300px;
    background-color: #ffeaea;
    text-align: center;
    margin:auto;
}
.contact .h2
{
    width: 100%;
    background-color: #ffeaea;
    text-align: center;
}

.form-data
{
    width: 100%;
    min-height: 100px;
    /* background-color: #f195acbb; */
    padding: 10px;
    margin: 10px;
    float: left;
}

.form-data h2
{
    text-align: center;
    padding: 10px;
    font-family: sans-serif;
    font-weight: 500;
}

.form-data table{
    width: 100%;

}

.form-data table, tr, td
{
    /* border: 1px solid black; */
    border-collapse: collapse;
    padding : 5px;
    font-family: sans-serif;
}

.form-data input{
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: none;
}

.form-data textarea{
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: none;
}

.contact .btn{
    width: 150px;
    background-color: #f23c69bb;
    color: #234C6A;
    padding: 10px;
    border: none;
    font-size: 15px;
    font-weight: 700;
    border-radius: 10px;
}

.btn:hover{
    background-color: rgb(247, 140, 0);
    cursor: pointer;
}

.footer{
    width: 100%;
    min-height: 80px;
    background-color: #234C6A;
    text-align: center;
    color: white;
    padding: 20px 0;
    margin-top: 10px;
}
