*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 60%;
    min-height: 500px;
    /* background-color: antiquewhite; */
    margin: auto;
    margin-top: 50px;
}

.box{
    width: 45%;
    min-height: 400px;
    background-color: beige;
    margin: auto;
    margin-top: 30px;
    border-radius: 10px;
    /* text-align: center; */
}

.box h2{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: brown;
}

.box form{
    width: 80%;
    margin: auto;
    padding-bottom: 30px;
}

.box form label{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    color: #333;
}

.box form input[type="text"], input[type="email"], textarea{
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.box .btn{
    width: 50%;
    padding: 10px;
    background-color: brown;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.btn a{
    text-decoration: none;
    color: white;
}

.btn:hover{
    background-color: rgb(255, 119, 74);
}