*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 80%;
    min-height: 400px;
    background-color: rgb(153, 174, 174);
    margin: auto;
    padding-top: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.box1{
    width: 100%;
    min-height: 100px;
    padding: 20px;
    background-color: bisque;
    text-align: center;
}

.box1 label{
    font-size: 20px;
}

.box1 input[type="color"]{
    width: 30%;
    min-height: 50px;
}

.box1 button{
    width: 10%;
    padding: 10px;
    background-color: rgba(0, 255, 255, 0.563);
    border: none;
    border-radius: 20px;
    font-size: 15px;
}

.box1 button:hover{
    background-color: rgb(176, 53, 53);
    color: white;
}

button{
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}


.box2{
    width: 100%;
    min-height: 100px;
    padding: 20px;
    margin-top: 5px;
    background-color: bisque;
    text-align: center;
}

.box2 input[type="range"]{
    width: 40%;
    padding: 5px;
}

.box2 button{
    width: 10%;
    padding: 10px;
    background-color: rgba(0, 255, 255, 0.563);
    border: none;
    border-radius: 20px;
    font-size: 15px;
    margin-top: 15px;
}

.box2 button:hover{
    background-color: rgb(176, 53, 53);
    color: white;
}

button{
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.box3{
    width: 100%;
    min-height: 100px;
    padding: 20px;
    margin-top: 5px;
    background-color: bisque;
    text-align: center;
}



.box3 table, tr, td{
    margin: auto;
    padding: 5px;
}

.box3 input[type="search"]{
    width: 120%;
    padding: 10px;
    min-height: 30px;
    border: none;
    border-radius: 20px;
}

.box3 button{
    width: 10%;
    padding: 10px;
    background-color: rgba(0, 255, 255, 0.563);
    border: none;
    border-radius: 20px;
    font-size: 15px;
    margin-top: 15px;
}

.box3 button:hover{
    background-color: rgb(176, 53, 53);
    color: white;
}

button{
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

