*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.Header{
    width: 100%;
    height: 80px;
    background-color: antiquewhite;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #000;
}

.Header ul{
    list-style: none;
    display: flex;
    gap: 20px;
}

.Header ul li a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    padding: 8px 12px;
    display: block;
}

.Header ul li{
    position: relative;
}

.Header ul li:hover ul{
    display: block;
    /* margin-bottom: 50px; */
}

.Header ul li ul{
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    margin: 30px;
    padding: 10px;
    display: none;
}

.Header ul li ul li{
    margin-bottom: 5px;
}

.Footer{
    width: 80%;
    height: 500px;
    display: flex;
    flex-direction: column;
    background-color: antiquewhite;
    color: black;
    padding: 40px 0;
    border: 1px solid #000;
    margin: auto;
}

.other-links{
    display: flex;
    flex-direction: row;
    padding: 20px 0;
    width: 100%;
    justify-content: space-around;
    gap: 20px;
}

.other-links .col{
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-basis: 20%;
    position: relative;
}

.col h4{
    color: brown;
    margin-bottom: 10px;
}

.col h4::after{
    content:"";
    position: absolute;
    background-color: cadetblue;
    height: 2px;
    width: 26px;
    top: 26px;
    left: 0;
    transition: all 0.6s ease;
}

.col h4:hover::after{
    width: 50%;
}

.col p{
    text-align: justify;
    font-size: 16px;
    color: black;
}

.col a{
    text-decoration: none;
    color: black;
    font-size: 16px;
}

.col ul li{
    list-style: none;
    margin-bottom: 8px;
}

.col:first-child{
    font-size: 24px;
}