<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flex Property</title>
    <link rel="stylesheet" href="flex-property.css">
</head>
<body>
    <div class="container">
        <div class="flex-container1">
            <div class="flex-container start">
                <p>FLEX-START</p>
                <div class="rows1">
                    <div class="row1">
                        <div class="col1"></div>
                        <div class="col2"></div>
                        <div class="col3"></div>
                        <div class="col4"></div>
                    </div>
                    <div class="row2">
                        <div class="col1"></div>
                        <div class="col2"></div>
                        <div class="col3"></div>
                        <div class="col4"></div>
                    </div>
                    <div class="row3">
                        <div class="col1"></div>
                        <div class="col2"></div>
                        <div class="col3"></div>
                        <div class="col4"></div>
                    </div>
                </div>
            </div>
            <div class="flex-container center">
                <p>CENTER</p>
                <div class="rows2">
                    <div class="row1">
                        <div class="col1"></div>
                        <div class="col2"></div>
                        <div class="col3"></div>
                        <div class="col4"></div>
                    </div>
                    <div class="row2">
                        <div class="col1"></div>
                        <div class="col2"></div>
                        <div class="col3"></div>
                        <div class="col4"></div>
                    </div>
                    <div class="row3">
                        <div class="col1"></div>
                        <div class="col2"></div>
                        <div class="col3"></div>
                        <div class="col4"></div>
                    </div>
                </div>
            </div>
            <div class="flex-container space-between">
                <p>SPACE-BETWEEN</p>
                <div class="rows3">
                    <div class="row1">
                        <div class="col1"></div>
                        <div class="col2"></div>
                        <div class="col3"></div>
                        <div class="col4"></div>
                    </div>
                    <div class="row2">
                        <div class="col1"></div>
                        <div class="col2"></div>
                        <div class="col3"></div>
                        <div class="col4"></div>
                    </div>
                    <div class="row3">
                        <div class="col1"></div>
                        <div class="col2"></div>
                        <div class="col3"></div>
                        <div class="col4"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex-container2">
            <div class="flex-container flex-end">
                <p>FLEX-END</p>
                <div class="rows4">
                    <div class="row1">
                        <div class="col1"></div>
                        <div class="col2"></div>
                        <div class="col3"></div>
                        <div class="col4"></div>
                    </div>
                    <div class="row2">
                        <div class="col1"></div>
                        <div class="col2"></div>
                        <div class="col3"></div>
                        <div class="col4"></div>
                    </div>
                    <div class="row3">
                        <div class="col1"></div>
                        <div class="col2"></div>
                        <div class="col3"></div>
                        <div class="col4"></div>
                    </div>
                </div>
            </div>
            <div class="flex-container stretch">
                <p>STRETCH</p>
                <div class="rows5">
                    <div class="row1">
                        <div class="col1"></div>
                        <div class="col2"></div>
                        <div class="col3"></div>
                        <div class="col4"></div>
                    </div>
                    <div class="row2">
                        <div class="col1"></div>
                        <div class="col2"></div>
                        <div class="col3"></div>
                        <div class="col4"></div>
                    </div>
                    <div class="row3">
                        <div class="col1"></div>
                        <div class="col2"></div>
                        <div class="col3"></div>
                        <div class="col4"></div>
                    </div>
                </div>
            </div>
            <div class="flex-container flex-around">
                <p>SPACE-AROUND</p>
                <div class="rows6">
                    <div class="row1">
                        <div class="col1"></div>
                        <div class="col2"></div>
                        <div class="col3"></div>
                        <div class="col4"></div>
                    </div>
                    <div class="row2">
                        <div class="col1"></div>
                        <div class="col2"></div>
                        <div class="col3"></div>
                        <div class="col4"></div>
                    </div>
                    <div class="row3">
                        <div class="col1"></div>
                        <div class="col2"></div>
                        <div class="col3"></div>
                        <div class="col4"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>