*{
    margin : 0;
    padding: 0;
    box-sizing: border-box;
    gap: 5px;
}

.main-container{
    width: 80%;
    min-height: 300px;
    margin: auto;
    display: flex;
    flex-direction: column;
    border: 1px solid #000;
    margin-bottom: 100px;
}

.header{
    width: 100%;
    min-height: 50px;
    background-color: #58D3E7;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.row2{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.left{
    width: 35%;
    display: flex;
    flex-direction: column;
}
.hero{
    width: 100%;
    height: 200px;
    background-color: #D9C9E4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sidebar{
    width: 100%;
    min-height: 350px;
    background-color: #A0C264;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.right{
    width: 65%;
    display: flex;
    flex-direction: column;
}
.main-content{
    width: 100%;
    height: 400px;
    background-color: #F6C733;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.extra-content{
    width: 100%;
    height: 150px;
    background-color: gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.row3{
    width: 100%;
    min-height: 100px;
    display: flex;
    flex-direction: row;
}

.related-img{
    width: 65%;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    background-color: #2CB776;
    justify-content: center;
    align-items: center;
}
.related-post{
    width: 35%;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    background: pink;
    justify-content: center;
    align-items: center;
}

.footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #F6C733;
    align-items: center;
}