<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./layout3.css">
</head>
<body>
    <div class="main-container">
        <div class="header">
            <h1>header</h1>
        </div>

        <div class="row2">
            <div class="left">
                <div class="hero">
                <h1>Hero</h1>
            </div>
            <div class="sidebar">
                <h1>SideBar</h1>
            </div>
            </div>
            <div class="right">
                <div class="main-content">
                    <h1>Main-Content</h1>
                </div>
                <div class="extra-content">
                    <h1>Extra Content</h1>
                </div>
            </div>
        </div>

        <div class="row3">
            <div class="related-img">
                <h1>Related Images</h1>
            </div>
            <div class="related-post">
                <h1>Related-Post</h1>
            </div>
        </div>

        <div class="footer">
            <h1>Footer</h1>
        </div>
    </div>
</body>
</html>