*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
}

div{
    border: 2px solid white;
}

.container{
    display: flex;
    flex-direction: column;
    width: 80%;
    min-height: 530px;
    border: 1px solid #000;
    margin: auto;
    background-color: rgb(202, 131, 246);
    align-items: center;
    margin-bottom: 15px;
}

.header{
    display: flex;
    flex-direction: column;
    width: 95%;
    /* padding-bottom: 50px; */
    background: rgb(126, 239, 126);
    align-items: center;
    min-height: 80px;
    margin-top: 15px;
}

.header h3{
    margin-bottom: 20px;
}

.nav{
    display: flex;
    width: 95%;
    background-color: beige;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;

}
.nav h3{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.main-div{
    display: flex;
    flex-direction: row;
    width: 95%;
    min-height: 300px;
    margin-top: 15px;
    /* background-color: rgb(173, 66, 239); */
    justify-content: space-between;
}

.large-div{
    display: flex;
    flex-direction: column;
    width: 55%;
    min-height: 300px;
    background-color: rgb(225, 93, 93);
    align-items: center;
}

.large-header{
    display: flex;
    flex-direction: column;
    min-height: 30px;
    width: 95%;
    background: rgb(126, 239, 126);
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.large-main{
    display: flex;
    flex-direction: column;
    min-height: 200px;
    width: 95%;
    background-color: rgb(80, 126, 210);
    align-items: center;
    padding-top: 10px;
}

.large-main-header{
    display: flex;
    flex-direction: column;
    min-height: 30px;
    width: 95%;
    background: rgb(126, 239, 126);
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.large-main-div{
    display: flex;
    flex-direction: column;
    min-height: 30px;
    width: 95%;
    background-color: orange;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.sub-div{
    display: flex;
    flex-direction: row;
    width: 95%;
    /* background-color: rgb(173, 66, 239); */
    justify-content: space-between;
}

.large-main-subdiv1{
    display: flex;
    flex-direction: column;
    min-height: 30px;
    width: 55%;
    background-color: orange;
    align-items: center;
    justify-content: center;
}

.large-main-subdiv2{
    display: flex;
    flex-direction: column;
    min-height: 30px;
    width: 40%;
    background-color: white;
    align-items: center;
    justify-content: center;
}

.large-main-footer{
    display: flex;
    flex-direction: column;
    min-height: 30px;
    width: 95%;
    background-color: white;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.small-div{
    display: flex;
    flex-direction: column;
    width: 43%;
    min-height: 300px;
    background-color: rgb(225, 93, 93);
    align-items: center;
}

.small-header{
    display: flex;
    flex-direction: column;
    min-height: 30px;
    width: 95%;
    background-color: rgb(126, 239, 126);
    align-items: center;
    justify-content: center;
    /* margin-top: 10px; */
}

.small-div-div{
    display: flex;
    flex-direction: column;
    min-height: 200px;
    width: 95%;
    background-color: white;
    align-items: center;
    justify-content: center;
    margin-top: 12px;
}

.footer{
    display: flex;
    flex-direction: column;
    width: 95%;
    min-height: 50px;
    background-color: white;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
}
