<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="layout2.css">
</head>
<body>
    <div class="container">
        <div class="header">
            <h3>Header</h3>
        </div>
        <div class="slider">
            <h3>Slider</h3>
        </div>
        <div class="spacer">
            <h3>Spacer</h3>
        </div>
        <div class="first-section">
            <div class="f-section1"><h3>section1</h3></div>
            <div class="f-section2"><h3>section2</h3></div>
            <div class="f-section3"><h3>section3</h3></div>
        </div>
        <div class="second-section">
            <div class="s-section1"><h3>section1</h3></div>
            <div class="s-section2"><h3>section2</h3></div>
            <div class="s-section3"><h3>section3</h3></div>
            <div class="s-section4"><h3>section4</h3></div>
        </div>
        <div class="third-section">
            <div class="large-section"><h3>large-section</h3></div>
            <div class="small-section">
                <div class="third-sub-small-section1"><h3>Sub-Section1</h3></div>
                <div class="third-sub-small-section2"><h3>Sub-Section2</h3></div>
            </div>
        </div>
            <div class="fourth-section">
            <div class="fo-section1"><h3>section1</h3></div>
            <div class="fo-section2"><h3>section2</h3></div>
            <div class="fo-section3"><h3>section3</h3></div>
        </div>
        <div class="footer"><h3>CopyRight</h3></div>
    </div>
</body>
</html>