*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container
{
    width: 80%;
    min-height: 300px;
    background-color: darkgoldenrod;
    border: 1px solid #000;
    margin: auto;
}

.container .header
{
    width: 100%;
    min-height: 80px;
    display: inline-block;
    background-color: #272626;
}

.header .logo
{
    width: 48%;
    min-height: 80px;
    float: left;
}

.logo img
{
    width: 30%;
    height: 70px;
    margin: 15px 0 0 20px;
}

.header .nav
{
    width: 50%;
    min-height: 90px;
    float:right;
    /* background-color: #444141; */
}

.nav ul{
    list-style: none;
    float: right;
    margin:20px 20px 0 0;
}

.nav ul li
{
    display: inline-block;
    margin: 10px;
    padding-right: 10px;
    text-align: center;
}

.nav ul li a{
    text-decoration: none;
    color: gold;
    font-size: 15px;
    padding: 5px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 700;
}

.nav ul li a:hover{
    color: rgb(248, 6, 6);
    /* background-color:rgb(156, 77, 106); */
    padding: 5px;
    border-bottom: 1px solid white;
    border-radius: 5px;
}

.section1{
    width: 100%;
    min-height: 30px;
    background-color: wheat;
    border-top: 1px solid #000;
}

.section1 p{
    text-align: center;
    padding-top: 5px;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
}

* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

.bar-cont {
  width: 100%;
  min-height: 300px;
  /* border: 1px solid #000; */
  margin-top: 5px;
}
.bar {
  width: 21%;
  min-height: 300px;
  /* background-color: gray; */
  float: left;
}
.bar img {
  width: 100%;
  min-height: 300px;
}

.cont {
  width: 78%;
  min-height: 300px;
  background-color: darkgray;
  float: left;
}

.section3
{
  width: 100%;;
}
