@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto Slab", serif;
}
.container {
  /* center page --> 80% and 60% */
  width: 80%;
  min-height: 100px;
  border: 1px solid #000;
  margin: 0 auto;
}
.header {
  width: 100%;
  height: 60px;
  background-color: black;
}
.header h1 {
  color: white;
  padding: 7px;
}
.container .menu {
  width: 100%;
  height: 60px;
  background-color: black;
  margin-top: 5px;
}
.menu ul {
  list-style-type: none;
  width: 100%;
}
.menu ul li {
  display: inline-block;
  padding-top: 15px;
}
.menu ul li a {
  color: white;
  text-decoration: none;
  padding: 9px;
}
.menu ul li a:hover {
  background-color: orange;
  color: white;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.slider {
  width: 100%;
  min-height: 300px;
  margin-top: 5px;
}
.bar-cont-div {
  width: 100%;
  min-height: 300px;
  /* border: 1px solid #000; */
  margin-top: 5px;
}
.bar-cont-div .bar {
  width: 21%;
  min-height: 300px;
  /* background-color: gray; */
  float: left;
}
.bar img {
  width: 100%;
  min-height: 300px;
}
.bar-cont-div .cont {
  width: 78%;
  min-height: 300px;
  /* background-color: darkgray; */
  float: right;
}
.clearfix::after {
  content: "";
  clear: both;
  display: block;
}

.box {
  width: 100%;
  min-height: 300px;
}
.box .hiring-desc {
  width: 70%;
  float: left;
}
.hiring-desc h2 {
  margin-bottom: 10px;
  color: #34276e;
}
.hiring-desc p {
  text-align: justify;
}
.box .hiring-img {
  width: 29%;
  float: right;
}
.hiring-img img {
  width: 100%;
  margin-top: 35px;
  padding: 10px;
}

/* code for second box */
.box .hiring-desc1 {
  width: 70%;
  float: right;
}
.hiring-desc1 h2 {
  margin-bottom: 10px;
  color: #34276e;
}
.hiring-desc1 p {
  text-align: justify;
  padding: 10px;
}
.box .hiring-img1 {
  width: 29%;
  float: left;
}
.hiring-img1 img {
  width: 100%;
  margin-top: 35px;
  padding: 10px;
  height: 300px;
}
.hiring-desc1 h2 {
  color: #203632;
}

.footer {
  width: 100%;
  height: 60px;
  background-color: black;
  margin-top: 5px;
}
.footer p {
  color: white;
  text-align: center;
  line-height: 60px;
}