@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Yanone+Kaffeesatz:wght@200..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  font-family: "Yanone Kaffeesatz", sans-serif;
    letter-spacing: 2px;
}

.container-main{
    width: 100%;
    min-height: 500px;
    /* margin: auto; */
    /* background-color: #8f8c8c; */
    color: #333;
    line-height: 1.6;
    position: relative;
}

.header{
    width: 100%;
    min-height: 70px;
    background-color: #0C3C60;
    color: white;
    position: sticky;
    top: 0;
    z-index: 1;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-areas: "header-logo header-menu";
    /* align-items: center; */
}

.header .logo{
    width: 100%;
    min-height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.header .logo h2{
    font-size: 2.5vw;
    /* margin-left: 50px; */
    display: flex;
    justify-content: center;
    align-items: center;

}

.logo a:hover{
    text-decoration: none;
    color: white;
}
.logo a{
    text-decoration: none;
    color: white;
}

.logo span{
    color: orangered;
    width: 100%;
    font-size: 3vw;
}

.header .menu{
    width: 100%;
    min-height: 50px;
    display: grid;
    grid-area: header-menu;
    /* background-color: #333; */
    /* float: right; */
    /* justify-content: right; */
}

.menu ul{
    /* padding-right: 40px; */
    /* justify-content: right; */
    display: flex;
    justify-content: flex-end;
}
.menu ul, li{
    list-style: none;
    display: inline-block;
    color: white;
    margin: auto;
    margin-top: 10px;
    display: flex;
    gap: 20px;
    /* padding-left: 20px; */
}

.menu ul li a{
    font-size: 1.5vw;
    text-decoration: none;
    color: white;
    border-radius: 10px;
}

.menu a:hover{
    color: orangered;
    border-color: orangered;
    border-radius: 10px;
    transition: 0.3s ease-in-out, border 0.3s ease-in-out;
}

.menu-toggle {
  display: none;
  font-size: 24px;
  color: #fff;
  cursor: pointer;
}


.menu .li1::after{
    content:"";
    position: absolute;
    background-color: orangered;
    height: 2px;
    width: 0%;
    top: 44px;
    left: 55%;
    transition: all 0.6s ease;
}
.menu .li2::after{
    content:"";
    position: absolute;
    background-color: orangered;
    height: 2px;
    width: 0%;
    top: 44px;
    left: 60%;
    transition: all 0.6s ease;
}

.menu .li3::after{
    content:"";
    position: absolute;
    background-color: orangered;
    height: 2px;
    width: 0%;
    top: 44px;
    left: 65%;
    transition: all 0.6s ease;
}
.menu .li4::after{
    content:"";
    position: absolute;
    background-color: orangered;
    height: 2px;
    width: 0%;
    top: 44px;
    left: 71.9%;
    transition: all 0.6s ease;
}

.menu .li5::after{
    content:"";
    position: absolute;
    background-color: orangered;
    height: 2px;
    width: 0%;
    top: 44px;
    left: 78%;
    transition: all 0.6s ease;
}
.menu .li6::after{
    content:"";
    position: absolute;
    background-color: orangered;
    height: 2px;
    width: 0%;
    top: 44px;
    left: 84.5%;
    transition: all 0.6s ease;
}

.menu .li1:hover::after{
        background-color: orangered;
    width: 3%;
}
.menu .li2:hover::after{
    background-color: orangered;
    width: 3.2%;
}
.menu .li3:hover::after{
    background-color: orangered;
    width: 5%;
}
.menu .li4:hover::after{
    background-color: orangered;
    width: 4.5%;
}
.menu .li5:hover::after{
    background-color: orangered;
    width: 4.8%;
}
.menu .li6:hover::after{
    width: 3%;
}

.section1{
    width: 100%;
    min-height: 400px;
    padding: 40px 80px;
    background-color: #f4f4f4;
}

.section1 h1{
    text-align: center;
    margin-bottom: 40px;
    font-size: 3vw;
    color: #072136;
}

.about-section{
    width: 100%;
    min-height: 400px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.about-section .info{
    width: 50%;
    font-size: 1.5vw;
    color: #072136;
    line-height: 1.8;
    display: flex;
    text-align: justify;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.about-section .img{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-section .img img{
    width: 90%;
    height: 530px;
    border-radius: 10px;
    /* filter:blur(3px); */
}

.section2{
    width: 100%;
    min-height: 1600px;
    background-color: #0c3c60f2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    padding-top: 80px;
}

.section2 h1{
    font-size: 3vw;
    margin-bottom: 20px;
}

.section2 p{
    font-size: 1.5vw;
    /* width: 60%; */
    line-height: 1.8;
}

.team-members{
    width: 100%;
    min-height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-top: 20px;
    text-align: justify;
}

.member1, .member2{
    width: 35%;
    min-height: 350px;
    background-color: #f4f4f4;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.member1 img, .member2 img{
    width: 80%;
    height: 250px;
    border-radius: 10px;
    margin-bottom: 20px;
    /* filter:blur(3px); */
}

.member1 h3, .member2 h3{
    font-size: 2vw;
    margin-bottom: 10px;
    color: #072136;
}

.member1 p, .member2 p{
    font-size: 1.2vw;
    color: #333;
    /* text-align: justify; */
}

.member3, .member4{
    width: 35%;
    min-height: 350px;
    background-color: #f4f4f4;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-top: 50px;
}

.member3 img, .member4 img{
    width: 80%;
    height: 250px;
    border-radius: 10px;
    margin-bottom: 20px;
    /* filter:blur(3px); */
}

.member3 h3, .member4 h3{
    font-size: 2vw;
    margin-bottom: 10px;
    color: #072136;
}

.member3 p, .member4 p{
    font-size: 1.2vw;
    color: #333;
    /* text-align: justify; */
}

.btn-1{
    display: flex; 
    justify-content: center;
}

.btn-1 button{
    font-size: 18px;
    margin-top: 45px;
    padding: 10px 0 10px 0;
    border:1px solid gray;
    border-radius: 20px;
    background-color: white;
    border: none;
}

.btn-1 a{
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    /* border: 1px solid #0c3c60; */
    padding: 20px 25px 20px 25px;
    color: #0C3C60;
}

.btn-1 button:hover{
    /* background-color: orangered; */
    color: white;
}
.btn-1 a:hover{
    background-color: orangered;
    color: white;
    border-radius: 15px;
    text-decoration: none;
}
.btn-1 a{
    transition: 0.3s ease-in-out, color 0.3s ease-in-out;
}


.section7
{
    width: 100%;
    min-height: 500px;
    /* background-color: rgb(134, 106, 106); */
    /* margin-bottom: 80px; */
    /* padding-top: 50px; */
    text-align: center;
    display: flex;
    flex-direction: column;
}

.contact{
    width: 100%;
    min-height: 40px;
    background-color: #0C3C60;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    /* justify-content: space-evenly; */
    /* align-items: center; */
}

.contact h1{
    color: white;
    /* font-size: 30px; */
    font-weight: 400;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
    margin-bottom: 30px;

}

.contact  .c-name{
    width: 80%;
    /* margin: auto; */
    color: white;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* margin-bottom: 10px; */
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
}


.contact form .c-field{
    width: 80%;
    margin: auto;
    background-color: #0C3C60;
    /* font-size: 18px; */
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.c-field input[type="text"]{
    width: 45%;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: #0C3C60;   /* Change default background */
    border-bottom: 1px solid white; /* Add bottom border only */
    /* padding: 10px; */
}

.c-field input[type="text"]{
    color: white; /* Change placeholder text color */
}

.contact textarea{
    /* width: 80%; */
    /* height: 150px; */
    margin: auto;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: #0C3C60;   /* Change default background */
    border-bottom: 1px solid white; /* Add bottom border only */
    color: white; /* Change placeholder text color */
    font-size: 18px;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* margin-top: 15px; */
}

/* .service{
    width: 100%;
    min-height: 200px;
    background-color: #0C3C60;
    margin-top: 20px;
}

.dropdown button{
    width: 75%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: #0C3C60;  
    border-bottom: 1px solid white; 
    color: white; 
}

.dropdown-menu{
    width: 75%;
    margin: auto;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: #0C3C60;  
    border-bottom: 1px solid white; 
    color: white; 
}

.dropdown:hover{
    background-color: none;
} */
.contact .c-btn{
    width: 80%;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 40px;
    margin-right: 13%;
}
.c-btn button{
    width: 20%;
    padding: 10px;
    float: right;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: white;  
    /* color: white;  */
    font-size: 18px;
    margin-bottom: 50px;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.c-btn button a{
    width: 100%;
    text-decoration: none;
    color: #0C3C60;
}

.c-btn button:hover{

    background-color: orangered;
    transition: 0.3s ease-in-out, background-color 0.3s ease-in-out;
}



.footer{
    width: 100%;
    min-height: 200px;
    background-color: #072136;
    justify-content: space-around;
    color: white;
    padding: 20px 20px;
}

.footer-contain{
    width: 90%;
    min-height: 150px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.footer-addr
{
    width: 30%;
    min-height: 150px;
    /* background-color: red; */
}

.footer-menu{
    width: 30%;
    min-height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-menu ul li a{
    color: white;
    text-decoration: none;
}
.footer-menu ul li a:hover{
    color: orangered;
    text-decoration: none;
    transition: 0.3s ease-in-out, color 0.3s ease-in-out;
}

.footer-content{
    width: 30%;
    min-height: 150px;
}

.social-icons{
    width: 100%;
    min-height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.social{
    display: flex;
    /* justify-content: center; */
    gap: 14px;
    margin-bottom: 25px;
}

.social .icon a{
    text-decoration: none;
}

.icon {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #1e293b;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 20px;
    transition: all 0.3s ease;
    text-decoration: none;
}

.icon:hover{
    text-decoration: none;
}

/* Brand Colors */
.facebook:hover {
    color: white;
    background-color: #1877f2;
    box-shadow: 0 0 12px #1877f2;
}

.twitter:hover {
    color: white;
    background-color: #1da1f2;
    box-shadow: 0 0 12px #1da1f2;
}

.instagram:hover {
    background: radial-gradient(circle at 30% 30%, #feda75, #d62976, #962fbf);
    box-shadow: 0 0 12px #d62976;
    color: white;
}

.linkedin:hover {
    color: white;
    background-color: #0a66c2;
    box-shadow: 0 0 12px #0a66c2;
}

.youtube:hover {
    color: white;
    background-color: red;
    box-shadow: 0 0 12px #333;
}

.icon:hover {
    transform: scale(1.15);
}

.footer-copy {
    font-size: 14px;
    color: #cbd5e1;
}


.map iframe{
    width: 100%;
    height: 220px;
    /* margin-top:20px ; */
    /* margin-bottom: 40px; */
}

.copyright{
    width: 100%;
    min-height: 40px;
    background-color: #072136;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

@media screen and (max-width: 576px) {

   /* HEADER */
  .header {
    grid-template-columns: 1fr;
    text-align: center;
    /* height: auto; */
    /* width: 100%; */
    /* background-color: #0C3C60; */
  }

  .header .logo h2 {
    font-size: 22px;
  }

  .header .logo span{
    font-size: 28px;
  }

  .menu {
    display: none;
    width: 100%;
    height: 70px;
    position: absolute;
    top: 70px;
    /* left: 0; */
    /* background-color: #0C3C60; */
  }
  .menu ul {
    display: none;
    flex-direction: row;
    width: 100%;
    /* margin: 10px; */
    padding: 5px;
    /* background-color: #0C3C60; */
  }

  /* .menu ul li {
    background-color: white;
  } */

  .menu ul li a {
    padding: 5px;
    border: 1px solid #072136;
    background-color: white;
    border-radius: 10px;
  }

  .menu ul li a:hover{    
    border-radius: 10px;
    transition: 0.3s ease-in-out, background-color 0.3s ease-in-out;
  }



  .menu ul li a {
    font-size: 16px;
    color: #072136;
  }

  .menu-toggle {
    display: block;
    position: relative;
    top: 10px;
    right: 10px;
  }

  .menu.active ul{
    display: flex;
    /* right: 50px; */
    position: absolute;
    text-align: start;
  }
  
  /* ABOUT SECTION */
  .section1 {
    padding: 30px 15px;
  }

  .section1 h1 {
    font-size: 28px;
  }

  .about-section {
    flex-direction: column;
  }

  .about-section .info,
  .about-section .img {
    width: 90%;
    margin:auto;
  }

  .about-section .info {
    font-size: 16px;
  }

  .about-section .img img {
    height: auto;
  }

  /* TEAM SECTION */
  .section2 {
    padding: 40px 15px;
    min-height: auto;
  }

  .section2 h1 {
    font-size: 26px;
  }

  .section2 p {
    font-size: 16px;
  }

  .team-members {
    flex-direction: column;
    gap: 20px;
  }

  .member1, .member2,
  .member3, .member4 {
    width: 100%;
  }

  .member1 h3,
  .member2 h3,
  .member3 h3,
  .member4 h3 {
    font-size: 20px;
  }

  .member1 p,
  .member2 p,
  .member3 p,
  .member4 p {
    font-size: 14px;
  }

  /* CONTACT FORM */
  .contact .c-name,
  .contact form .c-field {
    flex-direction: row;
  }

  .c-field input[type="text"] {
    width: 90%;
    margin-right: 10px;
  }

  .c-btn button {
    width: 100%;
    float: none;
  }

  /* FOOTER */
  .footer-contain {
    flex-direction: column;
    gap: 30px;
  }

  .footer-addr,
  .footer-menu,
  .footer-content {
    width: 100%;
    text-align: center;
  }

  .social {
  margin-left: 0;
  justify-content: center;
}

}

@media screen and (min-width:577px) and (max-width: 768px) {

  .header {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .header .logo h2 {
    font-size: 22px;
  }

  .header .logo span{
    font-size: 28px;
  }
  .menu ul {
    flex-direction: row;
    gap: 10px;
  }

  .menu ul li a {
    font-size: 16px;
  }

  .section1 h1 {
    font-size: 32px;
  }

  .about-section {
    flex-direction: column;
  }

  .about-section .info,
  .about-section .img {
    width: 100%;
  }

  .about-section .info {
    font-size: 18px;
  }

  /* TEAM */
  .team-members {
    flex-wrap: wrap;
  }

  .member1, .member2,
  .member3, .member4 {
    width: 45%;
  }

  /* FOOTER */
  .footer-contain {
    flex-wrap: wrap;
  }

  .footer-addr,
  .footer-menu,
  .footer-content {
    width: 45%;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {

  .header .logo h2 {
    font-size: 24px;
  }

  .header .logo span{
    font-size: 30px;
  }

  .menu ul li a {
    font-size: 18px;
  }

  .section1 h1 {
    font-size: 36px;
  }

  .about-section .info {
    font-size: 20px;
  }
  .section1 h1 {
    font-size: 36px;
  }

  .about-section .info {
    font-size: 20px;
  }

  .member1, .member2,
  .member3, .member4 {
    width: 40%;
  } 

  .footer-contain {
    flex-wrap: wrap;
  }

  .footer-addr,
  .footer-menu,
  .footer-content {
    width: 45%;
  }
}