@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Yanone+Kaffeesatz:wght@200..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  font-family: "Yanone Kaffeesatz", sans-serif;
    letter-spacing: 2px;
}

#top-arrow{
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 45px;
    height: 45px;
    background-color: white;
    color: black;
    font-size: 22px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    z-index: 999;
    transition: all 0.3s ease;
    cursor: pointer;
}

#top-arrow a{
    text-decoration: none;
    color: black;
}

#top-arrow a:hover{
    padding: 5px 15px;
    border-radius: 50%;
    background-color: orangered;
    color: white;
    transform: scale(1.1);
    box-shadow: 0px 0px 15px orangered;
    transition: 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
}

.container-main{
    width: 100%;
    min-height: 500px;
    /* margin: auto; */
    /* background-color: #8f8c8c; */
    color: #333;
    line-height: 1.6;
    position: relative;
}

.header{
    width: 100%;
    min-height: 70px;
    background-color: #0C3C60;
    color: white;
    position: sticky;
    top: 0;
    z-index: 1;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-areas: "header-logo header-menu";
    /* align-items: center; */
}

.header .logo{
    width: 100%;
    min-height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.header .logo h2{
    font-size: 2.5vw;
    /* margin-left: 50px; */
    display: flex;
    justify-content: center;
    align-items: center;

}

.logo a:hover{
    text-decoration: none;
    color: white;
}
.logo a{
    text-decoration: none;
    color: white;
}

.logo span{
    color: orangered;
    width: 100%;
    font-size: 3vw;
}

.header .menu{
    width: 100%;
    min-height: 50px;
    display: grid;
    grid-area: header-menu;
    /* background-color: #333; */
    /* float: right; */
    /* justify-content: right; */
}

.menu ul{
    /* padding-right: 40px; */
    /* justify-content: right; */
    display: flex;
    justify-content: flex-end;
}
.menu ul, li{
    list-style: none;
    display: inline-block;
    color: white;
    margin: auto;
    margin-top: 10px;
    display: flex;
    gap: 20px;
    /* padding-left: 20px; */
}

.menu ul li a{
    font-size: 1.5vw;
    text-decoration: none;
    color: white;
    border-radius: 10px;
}

.menu a:hover{
    color: orangered;
    border-color: orangered;
    border-radius: 10px;
    transition: 0.3s ease-in-out, border 0.3s ease-in-out;
}

.menu-toggle {
  display: none;
  font-size: 24px;
  color: #fff;
  cursor: pointer;
}


.menu .li1::after{
    content:"";
    position: absolute;
    background-color: orangered;
    height: 2px;
    width: 0%;
    top: 44px;
    left: 55%;
    transition: all 0.6s ease;
}
.menu .li2::after{
    content:"";
    position: absolute;
    background-color: orangered;
    height: 2px;
    width: 0%;
    top: 44px;
    left: 60%;
    transition: all 0.6s ease;
}

.menu .li3::after{
    content:"";
    position: absolute;
    background-color: orangered;
    height: 2px;
    width: 0%;
    top: 44px;
    left: 65%;
    transition: all 0.6s ease;
}
.menu .li4::after{
    content:"";
    position: absolute;
    background-color: orangered;
    height: 2px;
    width: 0%;
    top: 44px;
    left: 71.9%;
    transition: all 0.6s ease;
}

.menu .li5::after{
    content:"";
    position: absolute;
    background-color: orangered;
    height: 2px;
    width: 0%;
    top: 44px;
    left: 78%;
    transition: all 0.6s ease;
}
.menu .li6::after{
    content:"";
    position: absolute;
    background-color: orangered;
    height: 2px;
    width: 0%;
    top: 44px;
    left: 84.5%;
    transition: all 0.6s ease;
}

.menu .li1:hover::after{
        background-color: orangered;
    width: 3%;
}
.menu .li2:hover::after{
    background-color: orangered;
    width: 3.2%;
}
.menu .li3:hover::after{
    background-color: orangered;
    width: 5%;
}
.menu .li4:hover::after{
    background-color: orangered;
    width: 4.5%;
}
.menu .li5:hover::after{
    background-color: orangered;
    width: 4.8%;
}
.menu .li6:hover::after{
    width: 3%;
}


.heading{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 70px;
}

.heading h2{
    font-size: 3vw;
    color: #0C3C60;
}

.box-container{
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin-bottom: 40px;
}

.box img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    /* filter:blur(3px); */
}

.box .content{
    padding: 10px;
}

.box .content h3{
    font-size: 1.5vw;
    color: #0C3C60;
    margin-bottom: 10px;
}

.box .content p{
    font-size: 1vw;
    color: #555;
    margin-bottom: 10px;
    text-align: justify;
}

.box .content a{
    text-decoration: none;
    color: white;
    background-color: #0C3C60;
    padding: 5px 5px;
    border-radius: 10px;
}

.box .content a:hover{
    background-color: orangered;
    color: #0C3C60;
    transition: 0.3s ease-in-out, background-color 0.3s ease-in-out;
}


.section7
{
    width: 100%;
    min-height: 500px;
    /* background-color: rgb(134, 106, 106); */
    /* margin-bottom: 80px; */
    /* padding-top: 50px; */
    text-align: center;
    display: flex;
    flex-direction: column;
}

.contact{
    width: 100%;
    min-height: 40px;
    background-color: #0C3C60;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    /* justify-content: space-evenly; */
    /* align-items: center; */
}

.contact h1{
    color: white;
    /* font-size: 30px; */
    font-weight: 400;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
    margin-bottom: 30px;

}

.contact  .c-name{
    width: 80%;
    /* margin: auto; */
    color: white;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* margin-bottom: 10px; */
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
}


.contact form .c-field{
    width: 80%;
    margin: auto;
    background-color: #0C3C60;
    /* font-size: 18px; */
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.c-field input[type="text"]{
    width: 45%;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: #0C3C60;   /* Change default background */
    border-bottom: 1px solid white; /* Add bottom border only */
    /* padding: 10px; */
}

.c-field input[type="text"]{
    color: white; /* Change placeholder text color */
}

.contact textarea{
    width: 75%;
    /* height: 150px; */
    margin: auto;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: #0C3C60;   /* Change default background */
    border-bottom: 1px solid white; /* Add bottom border only */
    color: white; /* Change placeholder text color */
    font-size: 18px;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* margin-top: 15px; */
}

.contact .c-btn{
    width: 80%;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 40px;
    margin-right: 13%;
}
.c-btn button{
    width: 30%;
    padding: 10px;
    float: right;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: white;  
    color: white; 
    font-size: 18px;
    margin-bottom: 50px;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.c-btn button a{
    width: 100%;
    text-decoration: none;
    color: #0C3C60;
}


.c-btn button:hover{
    background-color: #ff4500;
    color: white;
    cursor: pointer;
}


.footer{
    width: 100%;
    min-height: 200px;
    background-color: #072136;
    justify-content: space-around;
    color: white;
    padding: 20px 20px;
}

.footer-contain{
    width: 90%;
    min-height: 150px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.footer-addr
{
    width: 30%;
    min-height: 150px;
    /* background-color: red; */
}

.footer-menu{
    width: 30%;
    min-height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-menu ul li a{
    color: white;
    text-decoration: none;
}
.footer-menu ul li a:hover{
    color: orangered;
    text-decoration: none;
    transition: 0.3s ease-in-out, color 0.3s ease-in-out;
}

.footer-content{
    width: 30%;
    min-height: 150px;
}

.social-icons{
    width: 100%;
    min-height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.social{
    display: flex;
    /* justify-content: start; */
    gap: 14px;
    margin-bottom: 25px;
}

.social .icon a{
    text-decoration: none;
}

.icon {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #1e293b;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 20px;
    transition: all 0.3s ease;
    text-decoration: none;
}

.icon:hover{
    text-decoration: none;
}

/* Brand Colors */
.facebook:hover {
    color: white;
    background-color: #1877f2;
    box-shadow: 0 0 12px #1877f2;
}

.twitter:hover {
    color: white;
    background-color: #1da1f2;
    box-shadow: 0 0 12px #1da1f2;
}

.instagram:hover {
    background: radial-gradient(circle at 30% 30%, #feda75, #d62976, #962fbf);
    box-shadow: 0 0 12px #d62976;
    color: white;
}

.linkedin:hover {
    color: white;
    background-color: #0a66c2;
    box-shadow: 0 0 12px #0a66c2;
}

.youtube:hover {
    color: white;
    background-color: red;
    box-shadow: 0 0 12px red;
}

.icon:hover {
    transform: scale(1.15);
}

.footer-copy {
    font-size: 14px;
    color: #cbd5e1;
}


.map iframe{
    width: 100%;
    height: 220px;
    /* margin-top:20px ; */
    /* margin-bottom: 40px; */
}

.copyright{
    width: 100%;
    min-height: 40px;
    background-color: #072136;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

@media screen and (max-width: 576px) {
    /* HEADER */
  .header {
    grid-template-columns: 1fr;
    text-align: center;
    /* height: auto; */
    /* width: 100%; */
    /* background-color: #0C3C60; */
  }

  .header .logo h2 {
    font-size: 22px;
  }

  .header .logo span{
    font-size: 28px;
  }

  .menu {
    display: none;
    width: 100%;
    height: 70px;
    position: absolute;
    top: 70px;
    /* left: 0; */
    /* background-color: #0C3C60; */
  }
  .menu ul {
    display: none;
    flex-direction: row;
    width: 100%;
    /* margin: 10px; */
    padding: 5px;
    /* background-color: #0C3C60; */
  }

  /* .menu ul li {
    background-color: white;
  } */

  .menu ul li a {
    padding: 5px;
    border: 1px solid #072136;
    background-color: white;
    border-radius: 10px;
  }

  .menu ul li a:hover{    
    border-radius: 10px;
    transition: 0.3s ease-in-out, background-color 0.3s ease-in-out;
  }



  .menu ul li a {
    font-size: 16px;
    color: #072136;
  }

  .menu-toggle {
    display: block;
    position: relative;
    top: 10px;
    right: 10px;
  }

  .menu.active ul{
    display: flex;
    /* right: 50px; */
    position: absolute;
    text-align: start;
  }


  /* ABOUT / GENERAL FIX */
  .about-section,
  .team-members,
  .footer-contain,
  .contact .c-name,
  .contact form .c-field {
    flex-direction: column;
    align-items: center;
  }

  /* REMOVE DANGEROUS MARGINS */
  .about-section .info,
  .about-section .img {
    width: 100%;
    margin-left: 0;
  }

  /* CONTACT INPUTS */
  .c-field input[type="text"] {
    width: 100%;
    margin: 10px 0;
  }

  /* BUTTON */
  .c-btn {
    width: 100%;
    margin-right: 0;
  }

  .c-btn button {
    width: 100%;
    float: none;
  }

  /* FOOTER */
  .footer-addr,
  .footer-menu,
  .footer-content,
  .map {
    width: 100%;
    text-align: center;
  }

  /* SOCIAL ICON FIX */
  .social {
    justify-content: center;
    margin-left: 0;
  }

  /* MAP FIX */
  .map iframe {
    width: 100%;
    max-width: 100%;
  }
}
