*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 80%;
    min-height: 100px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    padding: 20px;
    background-color: #f2f2f2;
    grid-template-rows: 60px 200px 100px 100px 100px 60px;
    grid-template-areas:
        "header header header"
        "sidebar content1 content1"
        "sidebar content2 content3"
        "sidebar content2 content3"
        "footer footer footer";

}

.item{
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 1.5em;
    border-radius: 5px;
    border: 1px solid #000;
}

.item1{
    background-color: red;
    grid-area: header;
}

.item2{
    background-color: blue;
    grid-area: sidebar;
}

.item3{
    background-color: green;
    grid-area: content1;
}

.item4{
    background-color: orange;
    grid-area: content2;
}

.item5{
    background-color: yellow;
    grid-area: content3;
}

.item6{
    background-color: purple;
    grid-area: footer;
}